[Unit]
Description=Cacophony Project Audio Lure Player
After=multi-user.target network.target

[Service]
ExecStart=/usr/bin/audiobait
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
